/*----------------------------------------------------*/
/*GLOBAL*/
/*----------------------------------------------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
  /* border: 1px solid red; */
}

:root {
  font-size: 62.5%;
}

body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#363949+0,363949+55,4678bf+100 */
  background: #363949;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg,
      #363949 0%,
      #363949 55%,
      #4678bf 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,
      #363949 0%,
      #363949 55%,
      #4678bf 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #363949 0%, #363949 55%, #4678bf 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#363949', endColorstr='#4678bf', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body,
html {
  height: 100%;
}

.container--flex {
  min-height: 100vh;
  max-width: 1920px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.cube {
  padding: 0.8rem;
}


h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: white;
  font-family: 'Roboto Slab', serif;
  text-shadow: -2px 2px 2px black;
}

/*----------------------------------------------------*/
/*CONTAINERS*/
/*----------------------------------------------------*/

.container__left,
.container__right {
  flex: 1 1 522px;
  max-width: 645px;
  font-size: 1.6rem;
  margin-top: 8rem;
}

.container__left {
  padding-right: 2.5rem;
}

.container__right {
  padding-left: 2.5rem;
}

/*----------------------------------------------------*/
/*CHECKOUT*/
/*----------------------------------------------------*/

.checkout {
  background-color: transparent;
  color: #4678bf;
  padding: 0.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.3rem;
}

.checkout label {
  display: block;
  padding: 0 0 0.5rem 4rem;
}

.checkout__right,
.checkout__left {
  max-width: 230px;
}

.checkout__header {
  color: #4678bf;
}

.dollar {
  vertical-align: bottom;
  display: inline-block;
  padding: 1rem;
  border-radius: 0.7rem 0 0 0.7rem;
  border: 1px solid #4678bf;
  color: white;
  background-color: #4678bf;
}

.checkout__input {
  width: 80%;
  padding: 1rem;
  background-color: transparent;
  border-bottom: 1px solid #4678bf;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-left: -0.6rem;
  font-size: 1.5rem;
  color: white;
}

/*----------------------------------------------------*/
/*GROUP*/
/*----------------------------------------------------*/

.group {
  position: relative;
  background-color: #a4b494;
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 2rem;
  text-align: left;
}

.group input {
  background-color: transparent;
}

/* .group__header,
.group__bottom h2 {
  color: white;
}

.hours__header h2 {
  padding: 1.4rem 1.3rem 1.4rem 0;
  font-family: 'Roboto Slab', serif;
}

.group__top,
.group__bottom {
  display: flex;
  justify-content: center;
}

.group__bottom {
  flex-wrap: wrap;
}

.group__input {
  padding: 1.2rem;
  border-radius: 1rem;
  color: white;
  background-color: #87947a;
  box-shadow: -0.3rem 0.3rem 0.5rem black;
  border: none;
  font-size: 1.5rem;
  width: 100%;
}

.--smallInput {
  max-width: 120px;
}

.--largeInput {
  max-width: 170px;
}

.group__sub-heading {
  text-align: center;
  color: white;
  text-shadow: -1px 1px 1px black;
} */

.submit {
  height: 10rem;
  width: 10rem;
  position: absolute;
  left: 90%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10rem;
  background-color: #519872;
  box-shadow: -0.5rem 0.5rem 1.5rem black;
}

.submit:active {
  box-shadow: none;
  transform: translate(-55%, -50%);
}

.horizontal-plus {
  position: relative;
  background-color: #ffffff;
  border-radius: 0.5rem;
  width: 50%;
  height: 12.5%;
  left: 25%;
  top: 43.75%;
}

.vertical-plus {
  position: relative;
  background-color: #ffffff;
  border-radius: 0.5rem;
  width: 12.5%;
  height: 50%;
  left: 43.75%;
  top: 12.5%;
}

/*----------------------------------------------------*/
/*OUTPUT TABLE*/
/*----------------------------------------------------*/

table {
  width: 100%;
  background-color: #519872;
  border-collapse: separate;
  border-spacing: 0.5rem;
  padding: 1rem;
  margin-bottom: 5rem;
  /* margin-left: 5rem; */
  border-radius: 1rem;
  color: white;
}

th {
  width: 100%;
  padding: 1rem;
}

td {
  width: 50%;
  padding: 1rem;
  background-color: #437d5e;
  border-radius: 0.2rem;
}